/* Container Styling */
.container {
    max-width: 1200px; /* Limit the width for better alignment on larger screens */
    padding: 2rem; /* Use rem for more consistent padding */
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem auto; /* Center the container */
    animation: slide-left 1s ease-in-out;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
}

th, td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f5f5f5;
}

/* Input Fields */
input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 12px;
    margin: 16px 0; /* Increased vertical margin for more space between fields */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}



/* Input Submit Button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Mobile-Specific Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 1rem;
    }

    table {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    input[type="submit"] {
        padding: 10px;
        font-size: 1rem;
    }
}
